<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Abalone Sex Classification</title>
</head>

<body>
    <h1>Abalone Sex Classification</h1>
    <h2>Input</h2>
    <form method='POST' action="/">
        <div>
            Length :
            <br>
            <input type="text" name="length" placeholder="91">
            <br>
            Diameter :
            <br>
            <input type="text" name="diameter" placeholder="73">
            <br>
            Height :
            <br>
            <input type="text" name="height" placeholder="19">
            <br>
            Whole-weight :
            <br>
            <input type="text" name="whole_weight" placeholder="102">
            <br>
            Shucked-weight :
            <br>
            <input type="text" name="shucked_weight" placeholder="45">
            <br>
            Viscera-weight :
            <br>
            <input type="text" name="viscera_weight" placeholder="20">
            <br>
            Shell-weight :
            <br>
            <input type="text" name="shell_weight" placeholder="30">
            <br>
            Rings :
            <br>
            <input type="text" name="rings" placeholder="15">
        </div>
        <br>
        <input type="submit" value="submit">

        <br>
        <br>
        <h2>Prediction Sex Of Abalone is:</h2>
        {%if sex_pred in ['M','F','I']%}
        <h3>{{sex_pred}}</h3>
        {%else%}
        <h3>Submit Input</h3>
        {%endif%}

    </form>
</body>

</html>