<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Abalone Sex Classification</title>
</head>

<body>
    <h1>Abalone Sex Classification</h1>
    <form method='POST' action="/">
        <div>
            Length :
            <input type="text" name="length" value="91">
            <br>
            Diameter :
            <input type="text" name="diameter" ,value="73">
            <br>
            <input type="text" name="height" value="19">
            <br>
            <input type="text" name="whole_weight" value="102">
            <br>
            <input type="text" name="shucked_weight" value="45">
            <br>
            <input type="text" name="viscera_weight" value="20">
            <br>
            <input type="text" name="shell_weight" value="30">
            <br>
            <input type="text" name="rings" value="15">
        </div>
        <input type="submit" value="submit">
    </form>
</body>

</html>